@import "tailwindcss";

:root{
  --primary:#C8A2C8;
  --primary-dark:#A67FA6;
  --background:#FCFAFC;
  --text:#403A45;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--background);
  color:var(--text);
  font-family:Inter,sans-serif;
}